{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo id nihil accusamus eos magnam quas, ipsa quibusdam atque fugit esse tenetur veritatis reiciendis exercitationem natus! Vel culpa voluptates voluptas maiores ipsum perferendis qui maxime, optio veritatis, inventore reiciendis, consectetur totam quisquam libero voluptatibus aliquid aspernatur. Deserunt, ipsam? Beatae corrupti, similique dicta dignissimos, veniam architecto necessitatibus maiores eligendi, fugit voluptates aut fugiat alias debitis nemo perspiciatis tempora qui non iusto ducimus. Laborum voluptate quo iure maiores assumenda error iste nostrum porro. Mollitia explicabo distinctio odit laudantium nihil deleniti id ab quod similique sunt libero, aperiam aut eius, dolore qui!</p>
{% endblock %}